<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div layout:fragment="header">
        My Header text
    </div>

    <section layout:fragment="content">
        My Body Contents text
    </section>

    <div layout:fragment="footer">
        My Footer text
    </div>

    <div class="text-center">
        <h5>© 2021. Grand Canyon University. All Rights Reserved.</h5>
    </div>
</body>

</html>